.footer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
    padding-left: -110px;
    padding-right: 30px;
    padding-bottom: 15px;
    line-height: 2.0;
}